<%# new_movie_path is a specialfunction added
by Rails because we told Rails to create all resoursces
for movie in config/routes.rb
%>
<%= link_to 'Add a new movie', new_movie_path %>

<h2>Movies</h2>

<table>
    <% @movies.each do |movie| %>
        <tr>
            <td> <%= movie.id %> </td>
            <td> <%= movie.title %> </td>
            <td> <%= movie.year %> </td>
        </tr>
    <% end %>
</table>